name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: ci/build-docker-image
      - name: Build game in Docker
        run: ci/docker-build-game